// 반응형웹을 위한 미디어쿼리 구간 정의
$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

@mixin xs {
  @media only screen and(max-width: #{$breakpoint-small}) {
    @content;
  }
}

@mixin sm {
  @media only screen and(max-width: #{$breakpoint-small}) {
    @content;
  }
}

@mixin md {
  @media only screen and(max-width: #{$breakpoint-medium}) {
    @content;
  }
}

@mixin lg {
  @media only screen and(max-width: #{$breakpoint-large}) {
    @content;
  }
}

@mixin xl {
  @media only screen and(max-width: #{$breakpoint-extra-large}) {
    @content;
  }
}