@import "./colors.scss";
@import "./common.scss";
@import "./responsive.scss";

.myScss {
  width: 100%;
  margin: auto;
  border: 5px dotted $pink;
  padding: 5px;
  box-sizing: border-box;

  @include md {
    padding: 25px;
  }

  @include lg {
    padding: 50px;
  }

  &:after {
    display: block;
    content: 'mobile';
    clear: both;
    float: none;
  }

  .myScssBox {
    cursor: pointer;
    float: left;

    &.red       {background-color: $red; @include  myMixin(1)}
    &.green     {background-color: $red; @include  myMixin(2)}
    &.blue      {background-color: $red; @include  myMixin(3)}
    &.orange    {background-color: $red; @include  myMixin(4)}
    &.yellow    {background-color: $red; @include  myMixin(5)}
    &.pink      {background-color: $red; @include  myMixin(6)}
  }
}

@include md{
  .myScss {
    width: $breakpoint-medium;
    border-color: $green;

    &:after {
      content: 'tablet-landscape';

    }
  }
}

@include lg{
  .myScss {
    width: $breakpoint-medium;
    border-color: $orange;

    &:after {
      content: 'laptop';

    }
  }
}

@include xl{
  .myScss {
    width: $breakpoint-extra-large;
    border-color: $blue;

    &:after {
      content: 'desktop';

    }
  }
}